@import "../../../../assets/styles/mixins.scss";

.friendsBody {
    background-color: $white;
    padding: 10px 5px 10px 10px;
    border-radius: 10px;
}
.title {
    font-size: 17px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey;
}
.friendsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
