@import "../../../../../../assets/styles/vars.scss";

.notification {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid $grey;
}
.photoWrapper {
    position: relative;
}
.avatar {
    height: 42px;
    width: 42px;
    cursor: pointer;
}
.noticeIcon {
    position: absolute;
    bottom: 2px;
    right: -4px;
    fill: $darkblue;
    &.like {
        fill: $red;
    }
    &.accept {
        fill: $green;
    }
}
.title {
    font-size: 14px;
    padding-right: 30px;
    margin-bottom: 1px;
}
.name {
    color: $darkblue;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.date {
    color: $darkgrey;
    font-size: 12.5px;
}
.markButton {
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.15s ease;
    border-radius: 100%;
    padding: 2px 3px;
    &:hover {
        background-color: #e5e5e5;
        .markIcon {
            fill: $darkblue;
        }
    }
}
.markIcon {
    width: 22px;
    height: 22px;
    fill: $darkgrey;
    transition: fill 0.15s ease;
}
