@import "../../../assets/styles/mixins.scss";

.loader {
    margin-bottom: 15px;
    display: block;
}
.alert {
    margin-bottom: 15px;
}
.body {
    padding: 15px;
    border-radius: 10px;
    background-color: $white;
    @include mobileMiddle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.title {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    h5 {
        font-size: 18px;
        @include mobileMiddle {
            margin-bottom: 0;
        }
        @include mobileSmall {
            font-size: 17px;
        }
    }
    @include mobileMiddle {
        flex-shrink: 0;
    }
}
.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    @include mobileMiddle {
        display: flex;
        gap: 0;
    }
}
.friendItem {
    @include mobileMiddle {
        &:not(:last-child) {
            margin-right: -10px;
        }
    }
}
.friendLink {
    display: block;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: rgba($grey, 0.4);
    }
    @include mobileMiddle {
        padding: 0;
    }
}
.avatar {
    width: 64px;
    height: 64px;
    margin: 0 auto 10px;
    @include mobileMiddle {
        width: 54px;
        height: 54px;
        margin: 0;
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            display: block;
            width: 58px;
            height: 58px;
            position: absolute;
            top: -2px;
            left: -2px;
            background-color: $white;
            border-radius: 100%;
            z-index: -1;
        }
    }
    @include mobileSmall {
        width: 44px;
        height: 44px;
        &::before {
            height: 48px;
            width: 48px;
        }
    }
}
.name {
    font-size: 13px;
    color: $darkgrey;
    text-align: center;
    @include mobileMiddle {
        display: none;
    }
}
